@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bg-info{

    background-image: url(images/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);

}

.tasty{
    font-family: 'Pacifico', cursive;
   
    font-size: 70px;
}
.tasty2{
    font-family: 'Pacifico', cursive;
    
    font-size: 70px;
}

.second{
    color: white;
    font-family: 'Mulish', 'cursive';
}

.widget-container{

    height: 1826px;
    width: 640px;
}

.hr-new {
    border-top: 7px solid darkgrey;
    width: 75%;
    margin: auto;
    margin-top: 20px;
  }

.third{
    margin-top: 90px;
    
}

.app-f{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 300;
}

.third-p{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.fourth-p{

    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: darkgray;
}

.fourth-h{
    font-family: 'Mulish', 'cursive';;
}

.card-footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5px;
   
}
.bg-info-2{
    background: #3B2F2F;
}

.bg-info-3{
    background: #FFE4E1;
}

.tips{
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
}
.tips-p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
   
}

.card-h{
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}
.card-h2{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.newsletter-2{
    margin-top: 60px;
}

.icon{

   font-size: 40px;
   margin: 15px;
   color: black;
}
