@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,600&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-info{

    background-image: url(images/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);

}

.tasty{
    font-family: 'Pacifico', cursive;
   
    font-size: 70px;
}
.tasty2{
    font-family: 'Pacifico', cursive;
    
    font-size: 70px;
}

.second{
    color: white;
    font-family: 'Mulish', 'cursive';
}

.widget-container{

    height: 1826px;
    width: 640px;
}

.hr-new {
    border-top: 7px solid darkgrey;
    width: 75%;
    margin: auto;
    margin-top: 20px;
  }

.third{
    margin-top: 90px;
    
}

.app-f{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 300;
}

.third-p{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.fourth-p{

    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

.fourth-h{
    font-family: 'Mulish', 'cursive';;
}

.card-footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5px;
   
}